{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Homepage{% endblock %}

{% block body %}

    <div class="container d-flex align-items-center vh-80 justify-content-center text-white">
        <div class="row mb-4">
            <div class="col-sm-12">
                <h1 class="fw-bold text-center">Welcome to V-Symfony</h1>
            </div>
            <div class="col-sm-12">  
                <div class="d-flex align-items-center justify-content-center">
                    {{ component('DiscordButton') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
