{#
    @Method for detect what is the route name
#}
{% set route_name = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}V Symfony{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body {% if route_name == "page.home" %}class="home"{% else %}{% endif %}>
        {% block menu %}
            {% include "partials/menu/_navbar.html.twig" %}
        {% endblock %}
        {% block main %}
            <div class="container container-main {% if route_name == "page.home" %}{% else %}mt-4{% endif %}">
                {% block body %}{% endblock %}
            </div>
        {% endblock %}
        {% block footer %}
            {% include "partials/menu/_footer.html.twig" %}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
