<nav class="footer fixed-bottom bg-dark text-white p-3 mt-4">
  <div class="container text-center">
    V-Symfony - Made with love from <a href="https://github.com/amtbzh" class="text-success">@amtbzh</a>
  </div>
</nav>